<!DOCTYPE html>
<html>
<%- include('./partials/header.ejs') %>

  <body>
    <%- include('./partials/hero-half.ejs') %>

      <div class="container" style="padding: 50px 0;">
        <h1 class="display-6">About Me</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec nulla at ante interdum posuere.
          Pellentesque
          semper nulla a velit blandit semper. Maecenas tincidunt odio quam, id aliquet elit euismod eget. Class aptent
          taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce a augue nulla. Maecenas
          eget
          nisi mauris. In fermentum ligula eget ligula rutrum cursus. Vivamus neque elit, lacinia sed rhoncus vel,
          placerat
          quis elit. Duis vitae arcu iaculis, pellentesque odio sit amet, condimentum turpis. Fusce ornare lorem lacus,
          ac
          dignissim lectus suscipit sed. Integer sagittis gravida tortor, ut congue tortor maximus eget. Mauris quam
          massa,
          aliquam at volutpat quis, luctus at sapien. Cras venenatis consequat velit, et maximus mi congue eu. Ut
          egestas
          pulvinar mollis. Sed sed vulputate lectus. In fermentum enim sed justo imperdiet, vel iaculis diam vulputate.

          Aenean commodo blandit ex in dictum. Quisque non volutpat metus, et tristique lacus. Vivamus a fermentum
          libero,
          nec bibendum ipsum. Nulla quis pellentesque lacus, non varius velit. Orci varius natoque penatibus et magnis
          dis
          parturient montes, nascetur ridiculus mus. Maecenas molestie ac augue quis lobortis. In condimentum, mauris
          sed
          dapibus blandit, nisl magna laoreet mauris, et mollis erat nisl eu sem. Maecenas sit amet leo nibh. Fusce
          consequat quis tellus in placerat.
        </p>
      </div>

      <%- include('./partials/footer.ejs') %>
  </body>

</html>