<!DOCTYPE html>
<html>
<%- include('./partials/header.ejs') %>

  <body>
    <section id="hero">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-6 col-12 text-md-end text-center">
            <h1 class="display-2 fw-bold">My Thoughts</h1>
            <p class="lead">A personal blog to share my experiences with the masses</p>
            <a class="btn btn-theme" href="/blog">Click Here</a>
          </div>
          <div class="col-md-6 col-12">
            <img class="img-fluid" src="public/images/home.png" alt="A writer">
          </div>
        </div>
      </div>
    </section>
    <%- include('./partials/footer.ejs') %>
  </body>

</html>